<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{generic/page-head :: pageHead('Add player - Custom Dart Games')}"></head>
<body>
    <main class="board">
        <h1 class="board-title">New player</h1>
        <form class="player-form" th:action="@{/dart/add}" method="post">
            <input type="text" name="username" placeholder="Player name" required autofocus>
            <button type="submit" class="btn-oval btn-play">Save</button>
        </form>
        <div th:replace="~{generic/back-link :: backLink(@{/dart/players}, 'Back to players', false)}"></div>
    </main>
</body>
</html>
